/* Grid sorting, use layout lesson */

* {
  background-color: #000000;
  color: #00FF00;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  width: 360px;
}

.App {
  padding: 0;
}

h1 /* Neato Calculator */ {
  text-align: center;
  font-size: 100%;
}

h2 /* by: James Mernin */ {
  text-align: center;
  font-size: 65%;
}

h3 /* History */ {
  display: inline;
  font-size: 80%;
  margin: 10px 0;
  padding: 0;
}

h4 /* copyright */ {
  display: inline;
  font-size: 80%;
  margin: 5px 0 0 0;
  padding: 0 2px 5px 0;
}

img {
  width: 5%;
  height: 5%;
  margin: 0 2px;
}

.mode {
  padding: 0;
  font-size: 10px;
  width: 120px;
}

.result {
  width: 240px;
  height: 37px;
  background-color: #222222;
  margin: 0 0 0 60px;
  overflow: visible;
}

.lastCalc,
.resultText {
  background-color: #222222;
  font-size: 70%;
  padding: 0 7px 0 0;
  text-align: right;
  width: 233px;
}

.resultText {
font-size: 100%;
text-align: right;
}

.keypad {
  margin: 0;
  padding: 0;
}

.pad {
  font-size: 8px;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 20px;
}

#historyHeader {
  display: inline;
}

#deleteHistory {
  margin: 5px;
  width: 120px;
}

#historyList {
  border-radius: 5px;
  background-color: #222222;
  margin: 0 0 5px 60px;
  width: 240px;
  height: 235px;
  overflow: scroll;
}

#footer {
  display: inline;
  margin: 5px;
}

p {
  margin: 0;
}

/* Following CSS fix found here: https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}