* {
  background-color: #000000;
  color: #00FF00;
  text-align: center;
  font-family: 'Orbitron', sans-serif;

}

h4 /* copyright */ {
  display: inline;
  font-size: 14px;
  margin: 5px 0 0 0;
  padding: 0 2px 5px 0;
}

h6 {
  font-size: 14px;
  margin: 5px auto;
  padding: 0;
  background-color: #222222;
}

img {
  width: 14px;
  height: auto;
  margin: 0 2px;
}

#header {
  grid-area: hhh;
  font-size: 12px;
}

#historyHeader {
  display: inline;
}

/* Code to hide scrollbar: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
#historyList {
  background-color: #222222;
  height: 200px;
  margin: 0 0 10px 0;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#historyList::-webkit-scrollbar {
  display: none;
}

.historyRow {
  margin: 10px 10px;
  display: inline;
}

.pad {
  font-size: 12px;
}

#mode {
  grid-area: mmm;
}

#standard-mode {
  grid-area: mmm;
}

#scientific-mode {
  grid-area: nnn;
}

.display {
  background-color: #222222;
  height: 50px;
  grid-area: ddd;
  text-align: right;
  margin: 0 auto;
  padding: 0;
  vertical-align: center;
}

.lastCalc {
  margin: 0;
  padding: 0;
}

p {
  text-align: right;
  background-color: #222222;
}

#s11 {
  grid-area: s11;
}

#s12 {
  grid-area: s12;
}

#s13 {
  grid-area: s13;
}

#s14 {
  grid-area: s14;
}

#s21 {
  grid-area: s21;
}

#s22 {
  grid-area: s22;
}

#s23 {
  grid-area: s23;
}

#s24 {
  grid-area: s24;
}

#s31 {
  grid-area: s31;
}

#s32 {
  grid-area: s32;
}

#s33 {
  grid-area: s33;
}

#s34 {
  grid-area: s34;
}

#s41 {
  grid-area: s41;
}

#s42 {
  grid-area: s42;
}

#s43 {
  grid-area: s43;
}

#s44 {
  grid-area: s44;
}

#s51 {
  grid-area: s51;
}

#s52 {
  grid-area: s52;
}

#s53 {
  grid-area: s53;
}

#s54 {
  grid-area: s54;
}

#s61 {
  grid-area: s61;
}

#s62 {
  grid-area: s62;
}

#s63 {
  grid-area: s63;
}

#s64 {
  grid-area: s64;
}

#t11 {
  grid-area: s11;
}

#t12 {
  grid-area: s12;
}

#t13 {
  grid-area: s13;
}

#t14 {
  grid-area: s14;
}

#t21 {
  grid-area: s21;
}

#t22 {
  grid-area: s22;
}

#t23 {
  grid-area: s23;
}

#t24 {
  grid-area: s24;
}

#t31 {
  grid-area: s31;
}

#t32 {
  grid-area: s32;
}

#t33 {
  grid-area: s33;
}

#t34 {
  grid-area: s34;
}

#t41 {
  grid-area: s41;
}

#t42 {
  grid-area: s42;
}

#t43 {
  grid-area: s43;
}

#t44 {
  grid-area: s44;
}

#t51 {
  grid-area: s51;
}

#t52 {
  grid-area: s52;
}

#t53 {
  grid-area: s53;
}

#t54 {
  grid-area: s54;
}

#t61 {
  grid-area: s61;
}

#t62 {
  grid-area: s62;
}

#t63 {
  grid-area: s63;
}

#t64 {
  grid-area: s64;
}

#t71 {
  grid-area: t71;
}

#t72 {
  grid-area: t72;
}

#t73 {
  grid-area: t73;
}

#t74 {
  grid-area: t74;
}

#t81 {
  grid-area: t81;
}

#t82 {
  grid-area: t82;
}

#t83 {
  grid-area: t83;
}

#t84 {
  grid-area: t84;
}

#t91 {
  grid-area: t91;
}

#t92 {
  grid-area: t92;
}

#t93 {
  grid-area: t93;
}

#t94 {
  grid-area: t94;
}

#standard-display {
  grid-area: xxx;
}

#scientific-display {
  grid-area: yyy;
}

#history {
  grid-area: eee;
}

#footer {
  grid-area: fff;
}

.keypad {
  display: grid;
  width: 100vw;

  grid-template-areas:
"s11 s12 s13 s14"
"s21 s22 s23 s24"
"s31 s32 s33 s34"
"s41 s42 s43 s44"
"s51 s52 s53 s54"
"s61 s62 s63 s64"
"t71 t72 t73 t74"
"t81 t82 t83 t84"
"t91 t92 t93 t94"
}

/* Following CSS fix found here: https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  * {
    color: #0000FF;
  }
}

@media screen and (min-width: 1280px) {
  * {
    color: #FF0000;
  }
}